<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donaciones</title>
    <style>
        .texto {
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
    <link rel="stylesheet" href="../CSS/destino.css">
</head>
<body>
    <header>
        <a href="../index.html"><img src="https://upload.wikimedia.org/wikipedia/commons/0/03/Eiche_bei_Graditz.jpg" alt="inicio"></a>
        <p class="copy">copyright</p>
        <nav>
            <ul>
                <li><a href="../views/ayuda.html">Ayuda</a></li>
                <li><a href="../views/nosotros.html">Nosotros</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
                <li><a href="../views/donadores.html">Donaciones</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Aporta a la proteccion del medioambiente</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/03/Eiche_bei_Graditz.jpg" alt="img" class="imgA">
        <fieldset>
            <legend>Donadores</legend>
            <table border="1">
                <tr>
                    <td>nombre</td>
                    <td>apellido</td>
                    <td>contribucion</td>
                </tr>
                <tr>
                    <td>Jorge</td>
                    <td>Pitton</td>
                    <td>10000 pesos</td>
                </tr>
                <tr>
                    <td>Jose</td>
                    <td>Ramirez</td>
                    <td>5000 pesos</td>
                </tr>
                <tr>
                <td>Maria</td>
                <td>Rizzi</td>
                <td>10000 pesos</td>
                </tr>
            </table>
        </fieldset>
    </main>
    <footer>
        <fieldset>
            <h3>redes sociales</h3>
            <p class="boton-facebook">facebook</p>
            <p class="boton-mail">mail</p>
            <p class="boton-snapchat">snapchat</p>
    </fieldset>
    </footer>
</body>
</html>